h1 {
    text-align: center;
    color: #302b20;
    padding: 20px;

}
body {
    background-color: rgb(218, 218, 218);
    min-height: 150vh;
    position: relative;
}
p {
    position: absolute;
            bottom: 0;
            width: 100%;    
}
p3 {
    text-align: justify;
}
p5 {
     text-align: center;
     color: rgb(23, 23, 23);
     /*padding-top: 10px ;
     padding-left: 30px;
     padding-right: 30px;
     padding-bottom: 10px;
     background-color: rgb(43, 30, 8);*/
     margin-top: 100px;
     margin-bottom: 100px;
     margin-left: 50%;
     margin-right: 50%;
     font-family:Impact, Luminari, Chalkduster;
}